logging:
  level: INFO
  loggers:
    br.com.inventory: DEBUG

server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081

database:
  #driverClass: com.mysql.cj.jdbc.Driver
  driverClass: org.h2.Driver
  url: jdbc:h2:./inventorydb
  user: sa
  password: sa
  properties:
    charSet: UTF-8
    hibernate.show_sql: true
    hibernate.hbm2ddl.auto: create # mudar para create para criar as tabelas
    hibernate.generate_statistics: false

allowedOrigins: ["http://localhost:4200", "https://master.d2noeqqv61u3y2.amplifyapp.com"]
